<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560202527430-0o7bgkpnckvasqr7if973tpvht31d8bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560202527430-0o7bgkpnckvasqr7if973tpvht31d8bl</string>
	<key>API_KEY</key>
	<string>AIzaSyCONRyCfno_ip1zg_-tKwueIA9RycLzmRE</string>
	<key>GCM_SENDER_ID</key>
	<string>560202527430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.yui.s.originalApp</string>
	<key>PROJECT_ID</key>
	<string>studyapp-5ab0b</string>
	<key>STORAGE_BUCKET</key>
	<string>studyapp-5ab0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560202527430:ios:c95c249fb947ca2093ddc7</string>
</dict>
</plist>